.detail-contain {
    background: #f1f2f3;
    font-weight: 900;
    border-radius: 5px;
    padding: 15px 0px;
    text-align: center;
}

.detail-image {
    width: 94%;
    height: 290px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.detail-others {
    text-align: left;
    padding: 0px 37px 51px;
}

.detail-flecha {
    transform: rotate(120deg);
    width: 204px;
}

.detail-title {
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 15px;
}